
.title{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10%;
    color: black;
    font-size: 28px;
}

.content {
    background-color:rgba(255,255,255,.8);
    border-radius: 1em;
    box-shadow: 0 0 .25em rgba(0,0,0,.4);
    box-sizing: border-box;
    position: fixed;
    width: 52vw;
    height: 55vh;
    text-align: center;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}

.qr {
    height: 20%;
    cursor: pointer;
}

#connect1 {
    position: absolute;
    width: 24%;
    top: 60%;
    left: 40%;
}

.input {
    position: absolute;
    left: 36%;
    padding: 12px;
    width: 28%;
}

.comp-name {
    position: absolute;
    left: 36%;
    padding: 12px;
    width: 28%;
    top: 30%;
}

.add-icon {
    position: absolute;
    height: 20%;
    left: 70%;
    top: 15%;
    cursor: pointer;
}

.add {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 47%;
}

.scanner {
    position: absolute;
    width: 35%;
    top: 18.3%;
    left: 33%;
}

.exit-camera{
    position: absolute;
    left: 40%;
    top:  95%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.codes-div{
    display: flex;
    background: #5a667f;
    height: 5vh;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    top: 80%;
    overflow: auto;
    padding: 10px;
    width: 50vw;
    text-align: center;
    left: 50.1vw;
    transform: translate(-50%);
}

.one-code{
    background: black;
    border-radius: 10px;
    padding: 7px 12px;
    margin-left: 15px;
    height: 70%;
    display: flex;
    align-items: center;
}



@media (max-width: 900px) {

    .title{
        top: 9%;
        font-size: 19px;
    }

    .content {
        width: 92%;
        height: 57%;
        top: 47%;
    }

    .qr {
        height: 20%;
    }

    .input, .comp-name {
        position: absolute;
        left: 22%;
        padding: 10px;
        width: 50%;
    }

    .add-icon {
        height: 15%;
        left: 84%;
        top: 15%;
    }

    .scanner {
        position: absolute;
        width: 80%;
        top: 18.3%;
        left: 10%;
    }

    .exit-camera{
        left: 30%;
        top:  67vh;
    }

    .codes-div{
        position: absolute;
        width: 90vw;
        height: 5vh;
        left: 5vw;
        top: 78%;
        padding: 10px 0;
        border-radius: 15px;
        transform: none;
    }

    .one-code{
        border-radius: 8px;
    }

    .h2 {
        position: relative;
        font-size: 20px;
        width: 80%;
        left: 10vw;
    }

    .add {
        height: 40%;
    }

    #connect1 {
        width: 30%;
        top: 63%;
        left: 35%;
    }

}


@media (max-height: 500px){

    .content {
        width: 92%;
        height: 97%;
        top: 77%;
    }

    .codes-div{
        position: absolute;
        top: 110%;

    }




}